Flask
Werkzeug
google-generativeai
gtts
youtube-search
PyMuPDF
PyPDF2
python-docx
youtube-transcript-api
crewai
python-dotenv
reportlab
beautifulsoup4
markdown
gunicorn

python-multipart

