Flask
Werkzeug
google-generativeai
gtts
youtube-search
PyMuPDF
PyPDF2
python-docx
youtube-transcript-api == 1.1.1
crewai
python-dotenv
reportlab
beautifulsoup4
markdown
gunicorn
reportlab
python-multipart
beautifulsoup4
lxml
crewai-tools
psycopg2-binary
gunicorn


